<ion-content [fullscreen]="true">
  <ion-row class="ion-justify-content-center">
    <ion-col size="12">
      <ion-col size="12" size-lg="4">
        <ion-button routerLink="/suite" shape="round">Retornar</ion-button>
      </ion-col>
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col size="12">
          <ion-row>
            <ion-col size="12" size-lg="4">
              <ion-card routerLink="/suitedl" class="card-branco">
                <h1  class="ion-text-center">Nossa suíte deluxe.<br> Clique aqui e reserve já!</h1>
                <img src="https://images.pexels.com/photos/6587902/pexels-photo-6587902.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">

                <h1> R$600,00 a diária contendo: </h1>

                <h1>
                  1. Espaço Generoso; <br>
                  2. Móveis de Alta Qualidade; <br>
                  3. Banheiro Privativo de Luxo; <br>
                  4.  Vistas Panorâmicas; <br>
                  5. Serviço de Quarto 24 Horas; <br>
                  6. Amenidades Extras; <br>
                  7. Áreas de Estar Separadas; <br>
                  8. Serviço de Concierge; <br>
                  9. Privacidade; <br>
                  10. Personalização.
                </h1>
              </ion-card>
            </ion-col>

            <ion-col size="12" size-lg="4">
              <ion-card routerLink="/suitefm" class="card-branco" >
                <h1 class="ion-text-center">Suites para a família. <br> Clique aqui e reserve já!</h1>
                <img src="https://images.pexels.com/photos/6394574/pexels-photo-6394574.jpeg">

                <h1> R$450,00 a diária contendo: </h1>

                <h1>
                  1. Espaço Generoso; <br>
                  2. Camas Adicionais; <br>
                  3. Área de Estar; <br>
                  4. Comodidades para Crianças; <br>
                  5. Banheiro Privativo; <br>
                  6. TV e Entretenimentos; <br>
                  7. Serviço de Quarto; <br>
                  8. Armazenamento; <br>
                  9. Área de Refeições; <br>
                  10. Vistas e Localização.
                 </h1>

              </ion-card>
            </ion-col>

            <ion-col size="12" size-lg="4">
              <ion-card routerLink="/suiteid" class="card-branco">
                <h1 class="ion-text-center">Suite indívidual.<br> Clique aqui e reserve já!</h1>
                <img src="https://i.pinimg.com/originals/c9/09/e0/c909e05b3921886fee7f5af771499a32.jpg">

                <h1> R$300,00 a diária contendo: </h1>

                <h1>
                  1. Cama Individual; <br> 
                  2. Banheiro Privativo; <br>                   
                  3. Área de Estar e refeição; <br>                   
                  4. Móveis Essenciais; <br>                   
                  5. TV e Acesso à Internet; <br>                   
                  6. Telefone; <br>                   
                  7. Ar Condicionado ou Aquecimento; <br>                   
                  8. Serviço de Limpeza; <br>                   
                  9. Comodidades Básicas; <br>                   
                  10. Serviço de Quarto. <br>
                 </h1>
                 
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

    </ion-col>
  </ion-row>
</ion-content>