<ion-content [fullscreen]="true">
  <ion-row class="ion-align-items-center">
    <ion-col>
      <ion-col size="12" size-lg="4">
        <ion-button routerLink="/suite" shape="round">Retornar</ion-button>
      </ion-col>
      <ion-row class="ion-justify-content-center">
        <ion-col size="12">
          <ion-row>
            <ion-col size="12" size-lg="4">
              <ion-card  >
                 <img src="https://images.pexels.com/photos/2670273/pexels-photo-2670273.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
               </ion-card>
             </ion-col>
        
             <ion-col size="12" size-lg="4">
               <ion-card >
                 <img src="https://images.pexels.com/photos/2607113/pexels-photo-2607113.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
               </ion-card>
             </ion-col>
         
             <ion-col size="12" size-lg="4">
               <ion-card>
                 <img src="https://images.pexels.com/photos/3225531/pexels-photo-3225531.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
               </ion-card>
             </ion-col>
           </ion-row>
           





<ion-row>
  <ion-col size="12" size-lg="4">
    <ion-card >
      <img src="https://images.pexels.com/photos/2952663/pexels-photo-2952663.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
    </ion-card>
  </ion-col>

  <ion-col size="12" size-lg="4">
    <ion-card >
      <img src="https://images.pexels.com/photos/2403017/pexels-photo-2403017.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
    </ion-card>
  </ion-col>

  <ion-col size="12" size-lg="4">
    <ion-card>
      <img src="https://images.pexels.com/photos/1755288/pexels-photo-1755288.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
    </ion-card>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col size="12" size-lg="4">
    <ion-card >
      <img src="https://images.pexels.com/photos/4917176/pexels-photo-4917176.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
    </ion-card>
  </ion-col>

  <ion-col size="12" size-lg="4">
    <ion-card >
      <img src="https://images.pexels.com/photos/15261857/pexels-photo-15261857/free-photo-of-nuvens-nevoa-neblina-nevoeiro.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
    </ion-card>
  </ion-col>

  <ion-col size="12" size-lg="4">
    <ion-card>
      <img src="https://images.pexels.com/photos/8821404/pexels-photo-8821404.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
    </ion-card>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col size="12" size-lg="4">
    <ion-card >
      <img src="https://images.pexels.com/photos/4577182/pexels-photo-4577182.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
    </ion-card>
  </ion-col>

  <ion-col size="12" size-lg="4">
    <ion-card >
      <img src="https://images.pexels.com/photos/2631613/pexels-photo-2631613.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
    </ion-card>
  </ion-col>

  <ion-col size="12" size-lg="4">
    <ion-card>
      <img src="https://images.pexels.com/photos/1078983/pexels-photo-1078983.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
    </ion-card>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col size="12" size-lg="4">
    <ion-card >
      <img src="https://images.pexels.com/photos/844452/pexels-photo-844452.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
    </ion-card>
  </ion-col>

  <ion-col size="12" size-lg="4">
    <ion-card >
      <img src="https://images.pexels.com/photos/5480790/pexels-photo-5480790.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
    </ion-card>
  </ion-col>

  <ion-col size="12" size-lg="4">
    <ion-card>
      <img src="https://images.pexels.com/photos/434551/pexels-photo-434551.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
    </ion-card>
  </ion-col>
</ion-row>





        </ion-col>
      </ion-row>

    </ion-col>
  </ion-row>

</ion-content>
