
.card-branco {
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .ion-justify-content-center{
    --background: transparent;
    background-image: url('https://images.pexels.com/photos/262713/pexels-photo-262713.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-repeat: no-repeat; 
  }