<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>suite3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img alt="Silhouette of mountains" src="https://images.pexels.com/photos/6587902/pexels-photo-6587902.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
    <ion-card-header>
      <ion-icon name="bed-outline"></ion-icon>
      <ion-card-title class="titulo">Suíte Deluxe </ion-card-title>
    </ion-card-header>
  
    <ion-card-content class="titulo">
      Este é o nosso quarto deluxe, perfeito para uma estadia luxuosa. O quarto inclui uma cama king-size,
       banheiro privativo, TV de tela plana, minibar e muito mais.
    </ion-card-content>
  </ion-card>
</ion-content> 
