<ion-content [fullscreen]="true">
  <ion-row class="ion-justify-content-center titulo" >
    <ion-col size="12">
      <ion-col size="12" size-lg="4">
        <ion-button routerLink="/suite" shape="round">Retornar</ion-button>
      </ion-col>
      <ion-row class="ion-justify-content-center titulo">
        <ion-col size="12">
          <ion-row>
            <ion-col size="12" size-lg="4">
              <ion-card  class="card-branco">
                <h1  class="ion-text-center">Comidas</h1>
                <img src="https://images.pexels.com/photos/3758133/pexels-photo-3758133.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
                <h1>1. Ovos</h1>
                <h1>2. Queijo fresco</h1>
                <h1>3. Frutas</h1>
                <h1>4. Cereais</h1>
                <h1>5. Pães</h1>
                <h1>6. Tomates cereja</h1>
                <h1>7. Croassaint</h1>
                <h1>Etc.</h1>
              </ion-card>
            </ion-col>

            <ion-col size="12" size-lg="4">
              <ion-card  class="card-branco">
                <h1  class="ion-text-center">Bebidas</h1>
                <img src="https://images.pexels.com/photos/2775827/pexels-photo-2775827.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
                <h1>1. Café expresso</h1>
                <h1>2. Café com leite</h1>
                <h1>3. Capuccino</h1>
                <h1>4. Leite de soja</h1>
                <h1>5. Chá matte</h1>
                <h1>6. Sucos naturais c/ água</h1>
                <h1>7. Sucos naturais c/ leite</h1>
                <h1>Etc.</h1>
              </ion-card>
            </ion-col>

            <ion-col size="12" size-lg="4">
              <ion-card  class="card-branco">
                <h1  class="ion-text-center">Almoço</h1>
                <img src="https://images.pexels.com/photos/3690/food-restaurant-hand-dinner.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
                <h1>1. Macarrão ao molho vermelho</h1>
                <h1>2. Macarrão ao molho branco</h1>
                <h1>3. Arroz Branco</h1>
                <h1>4. Feijão</h1>
                <h1>5. Bife</h1>
                <h1>6. Almodegas</h1>
                <h1>7. Saladas</h1>
                <h1>Etc.</h1>
              </ion-card>
            </ion-col>

          </ion-row>


        </ion-col>
      </ion-row>




    </ion-col>
  </ion-row>

</ion-content>


