<ion-content [fullscreen]="true">
  <ion-row class="ion-justify-content-center">
    <ion-col size="12">
      <ion-button routerLink="/home">Voltar</ion-button>

      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col size="12">
          <ion-row>
            <ion-col size="12" size-lg="4">
              <ion-card class="card-branco">
                <h1  class="ion-text-center">Confira nossas suítes deluxe.</h1>
                <img src="https://images.pexels.com/photos/2598638/pexels-photo-2598638.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
              </ion-card>
            </ion-col>

            <ion-col size="12" size-lg="4">
              <ion-card class="card-branco">
                <h1 class="ion-text-center">Com as melhores,</h1>
                <img src="https://images.pexels.com/photos/4825701/pexels-photo-4825701.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
              </ion-card>
            </ion-col>

            <ion-col size="12" size-lg="4">
              <ion-card  class="card-branco">
                <h1 class="ion-text-center">vistas para sua família. <br></h1>
                <img src="https://images.pexels.com/photos/271643/pexels-photo-271643.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center ion-align-items-center" >
        <ion-col size="12">
          <ion-row>
            <ion-col size="12" size-lg="4">
              <ion-card routerLink="/suite4" class="card-branco">
                <h1 class="ion-text-center">Cardápio Café da manha <br> (Clique aqui!)</h1>
                <img src="https://images.pexels.com/photos/2771927/pexels-photo-2771927.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
              </ion-card>
            </ion-col>

            <ion-col size="12" size-lg="4">
              <ion-card routerLink="/suite5" class="card-branco">
                <h1 class="ion-text-center">Nosso espaço <br> (Clique aqui!)</h1>
                <img src="https://images.pexels.com/photos/1145257/pexels-photo-1145257.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
              </ion-card>
            </ion-col>

            <ion-col size="12" size-lg="4">
              <ion-card routerLink="/suite6" class="card-branco">
                <h1 class="ion-text-center">Nossos quartos <br> (Clique aqui!)</h1>
                <img src="https://images.pexels.com/photos/271624/pexels-photo-271624.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

    </ion-col>
  </ion-row>
</ion-content>
