<ion-header [translucent]="true">
  <ion-title>
    Hotel Silbro, seu descanso é nossa prioridade
  </ion-title>
</ion-header>

<ion-content [fullscreen]="true">
<ion-button routerLink="/suite">Suítes</ion-button>
<ion-button routerLink="/cadastro">Cadastro</ion-button>


<ion-content>
  <ion-card>
    <img src="assets/hotel-image.jpg" alt="Hotel">
    <ion-card-header>
      Destaques
    </ion-card-header>
    <ion-card-content>
      <p>Descubra o luxo e a comodidade do nosso hotel em uma localização deslumbrante.</p>
    </ion-card-content>
  </ion-card>



</ion-content>