ion-card {
    max-width: 90%;
    margin: 0 auto;
  }
  
  img {
    width: 100%;
  }
  
  ion-card-content {
    font-size: 18px;
  }
  
  ion-button {
    margin-top: 20px;
  }
  

  ion-content {
    background-color: #f0b4b4; 
  }